body {
  font-size: 16px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: orange;
}

#header-nav {
	background-color: #345678;
	border-radius: 0;
	border: 0;
}

#nav-list a {
	color: #939393;
}

#nav-list a:hover {
	color: orange;
}

#Chicken, #Beef, #Sushi {
	background-color: #efefef;
	/*margin: auto;*/
	margin: 15px;
}

#content-row h2 {
	font-weight: bold;
	padding-top: 20px;
}

#content-row p {
	height: 1000px;
	padding: 0px 15px 15px 15px;
	margin: 0px;
}

#collapsable-nav {
	/*background-color: #56789A;*/
}
